@inherits MudCheckBox<T> 
@typeparam T
@* @page "/simpletxtfield" *@

<link href="css/editable_text.css" rel="stylesheet" />
<tr class="editable-container">
    <td><MudText Typo="Typo.caption" Class="d-flex align-center me-1" Style="padding-top: 6px;">@Label</MudText></td>
    <td class="editable-container">
        <MudCheckBox T="T" @attributes="UserAttributes" Label="">
            @ChildContent
        </MudCheckBox>
    </td>
</tr>

@code {
    [Parameter]
    public string Title { get; set; } = default!;
    [Parameter]
    public string TitleIcon { get; set; } = default!;
    protected override void OnInitialized()
    {
    }

}